
.main-hp-content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    color: white;
}

.main-hp-content h1 {
    font-size: 2.5em;
    color: var(--secondary);
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.features p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.features ul {
    list-style: none;
    padding-left: 1.5em;
}

.features li {
    margin-bottom: 10px;
}

.features li span {
    font-weight: bold;
}

.about h2 {
    padding-top: 1em;
    font-size: 2em;
    color: var(--secondary);
    margin-bottom: 10px;
}

.about p {
    font-size: 1.2em;
    line-height: 1.6;
}
.image-links {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
}
.image-links img {
    width: 50px
}
