.PlayerInformationBox {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: var(--secondary);
}

.name {
    font-size: 300%;
    font-weight: bold;
}

.PlayerInformationBox p:not(.name) {
    font-size: 150%;
    color: white;
    line-height: 10px;
}

.label {
    color: var(--tertiary);
    font-weight: bold;
}
